li {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    min-width: 0;
    border: 2px solid darkviolet;
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}