.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.playlistContainer {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: violet
}

.submit {
    font-size: 2rem;
    border-radius: 1rem;
}

.srOnly {
    position: absolute;      /* Removes the element from normal flow */
    width: 1px;              /* Makes it visually invisible */
    height: 1px;
    padding: 0;
    margin: -1px;            /* Moves it out of view */
    overflow: hidden;        /* Hides overflowing content */
    clip: rect(0, 0, 0, 0);  /* Completely clips the element */
    white-space: nowrap;     /* Prevents line breaks */
    border: 0;
}

input {
    font-size: 2rem;
    padding: 1rem;
    width: 80%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.submit {
    font-size: 1rem;
    border-radius: 1rem;
    max-width:  30%;
    cursor: pointer;
}